* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --card-width: 250px;
  --card-height: 260px;
  --icon-width: calc(var(--card-height) * 0.25 - 25px);

  --accent-primary: #24db24;
  --accent-primary-alt: #0ff;

  --accent-secondary: #0ff;
  --text-color: #fff;
  --bg-blur: rgba(255, 255, 255, 0.02);
  --border-light: #fff2;
  --shadow-dark: #0004;
}

